.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
